
{{#each products as |product|}}
<div class="card">
  <div>
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      <a class="product-title" href="/product/{{product.id}}">{{product.name}}</a>
    </h2>
    </div>
    <div class="inner-card">
    <img class="product-image" src={{product.image}}></img>
    <p class="price">
      <span class="dollar-amount">£{{format_amount product.price}}</span>
    </p>
    <p class="created-by">Created by {{product.user.name}} on {{format_date product.date_created}}</p>
  </div>
  <div class="description">
    <p>
      {{product.description}}
    </p>
  </div>
</div>
{{/each}}