<div class="card">
    <h2 >{{name}}</h2>
    <img src={{image}}></img>
    <p>{{description}}</p>
        <p>
        <span>£{{price}}</span>
    </p>
    <p>New product added by {{user.name}}</p>
    <p>
        <a href="/review">Click to review the product</a>
    </p>
</div>